@use "tango" as *
@use "typography" as *
@use "node_modules/bulma/sass/elements/notification"
  
// *** Admonitions ***

// Admonitions are somewhat prevalent in the old reStructuredText files

.admonition
  @extend .notification
  background: $aluminium5

.admonition-title
  font-family: $serif
  font-size: 1.25em
  color: $aluminium2
  font-weight: 300
  line-height: 1.125
  margin-bottom: 20px

.admonition.attention
  @extend .is-primary

.admonition.caution, .admonition.warning, .admonition.important
  @extend .is-warning

.admonition.danger, .admonition.error
  @extend .is-danger

.admonition.hint, .admonition.note, .admonition.tip
  @extend .is-info
