@use "tango" as *
@use "typography" as *
@use "node_modules/bulma/sass/elements/notification"
  
// *** Admonitions ***

// Admonitions are somewhat prevalent in the old reStructuredText files

.admonition
  @extend .notification
  background: $aluminium5

.admonition-title
  font-family: $serif
  font-size: 1.25em
  color: $aluminium2
  font-weight: 300
  line-height: 1.125
  margin-bottom: 20px

.admonition.attention
  @extend .is-primary

.admonition.caution, .admonition.warning, .admonition.important
  @extend .is-warning

.admonition.danger, .admonition.error
  @extend .is-danger

.admonition.hint, .admonition.note, .admonition.tip
  @extend .is-info

/* *** Markdown Alerts *** */

.markdown-alert
  padding: 1em
  border-left: 0.25rem solid
  padding-bottom: 0px
  padding-top: 0px
  border-color: var(--border-color)

.markdown-alert > span
  display: flex
  flex-direction: row
  align-items: center
  color: var(--border-color)

.markdown-alert .markdown-alert-icon
  margin-right: 0.5em
  fill: var(--border-color)

.markdown-alert.note
  --border-color: var(--bulma-info)

.markdown-alert.warning
  --border-color: var(--bulma-warning)

.markdown-alert.important
  --border-color: var(--bulma-link)

.markdown-alert.caution
  --border-color: var(--bulma-danger)

.markdown-alert.tip
  --border-color: var(--bulma-primary)
