// *** LCARS Palette � suggested from lcarsdeveloper.com
$lcars-offline-alert: #ff0000
$lcars-offline-mute: #330000

$lcars-primary: ( elbo: #f1df6f, unavailable: #3399ff, primary: #99ccff, accent1: #ffff33, accent2: #ffffcc )

$lcars-secondary: ( elbo: #b1957a, unavailable: #5355de, primary: #99ccff, accent1: #ffcc00, accent2: #ffff99 )

$lcars-ancillary: ( elbo: #f1b1af, unavailable: #a27fa5, primary: #adacd8, accent1: #ffff33, accent2: #e6b0d4 )

$lcars-database: ( elbo: #cc6666, unavailable: #ccccff, primary: #99ccff, accent1: #ff9900, accent2: #ff9900 )

$lcars-redalert: ( elbo: #ff0000, unavailable: #ff0000, primary: #ff0000, accent1: #ff0000, accent2: #ff0000 )
