// *** Fonts ***
@import 'node_modules/@fontsource/exo-2/100.css'
@import 'node_modules/@fontsource/exo-2/100-italic.css'    
@import 'node_modules/@fontsource/exo-2/200.css'
@import 'node_modules/@fontsource/exo-2/200-italic.css'  
@import 'node_modules/@fontsource/exo-2/300.css'
@import 'node_modules/@fontsource/exo-2/300-italic.css'
@import 'node_modules/@fontsource/exo-2/400.css'
@import 'node_modules/@fontsource/exo-2/400-italic.css'
@import 'node_modules/@fontsource/exo-2/500.css'
@import 'node_modules/@fontsource/exo-2/500-italic.css'
@import 'node_modules/@fontsource/exo-2/600.css'
@import 'node_modules/@fontsource/exo-2/600-italic.css'
@import 'node_modules/@fontsource/exo-2/700.css'
@import 'node_modules/@fontsource/exo-2/700-italic.css'
@import 'node_modules/@fontsource/exo-2/800.css'
@import 'node_modules/@fontsource/exo-2/800-italic.css'
@import 'node_modules/@fontsource/exo-2/900.css'
@import 'node_modules/@fontsource/exo-2/900-italic.css'
@import 'node_modules/@fontsource/cormorant-garamond/400.css'
@import 'node_modules/@fontsource/cormorant-garamond/400-italic.css'
@import 'node_modules/@fontsource/cormorant-garamond/700.css'
@import 'node_modules/@fontsource/cormorant-garamond/700-italic.css'
@import 'node_modules/@fontsource/fira-mono/400.css'
@import 'node_modules/@fontsource/fira-mono/700.css'

$sans: "Exo 2", "Exo", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$monospace: "Fira Code", "Fira Mono", "Cascadia Code", "Consolas", "Monaco", "Inconsolata", monospace
$serif: "Cormorant Garamond", "Cormorant", "Cambria", "Garamond", "Times New Roman", serif

// *** Typogrify ***

body
  font-variant-ligatures: discretionary-ligatures
  font-variant-numeric: oldstyle-nums

.caps
  text-transform: lowercase
  font-variant: small-caps
  //font-variant-caps: titling-caps

.content p, .content blockquote
  text-align: justify